/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

html {
    background-color: white;
}

.navbar {
    background-color: #333;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    text-align: center; 
}

.navbar:hover {
    background-color: #444; 
}

.nav-links a.active {
    color: #00ffcc;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}
  
.nav-links li {
    margin-right: 20px;
}
  
.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
  
.nav-links a:hover {
    color: #00ffcc; 
}
  
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    height: 40px; 
    font-size: 16px; 
    padding: 10px 20px; 
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.progress-container {
    width: 80%; /* Adjust the width as needed */
    margin: 20px auto;
    background-color: #ccc;
    border-radius: 5px;
}
.progress-bar {
    height: 30px;
    background-color: #4CAF50; /* Green color for filled portion */
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: white;
}