/* Reset some default styles */
body, ul {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

* {
  scroll-behavior: smooth;
}

html {
  background-color: white;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.navbar {
  background-color: #333;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-align: center;
  font-size: 30px;
}

.navbar:hover {
  background-color: #444; 
}

.nav-links a.active {
  color: #00ffcc;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 10px 20px;
}
  

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-links a:hover {
  color: #00ffcc; 
}

/* canvas {
  flex: 1;
  margin: 0 10px;
  height: 400px !important;
  width: calc((90% - 30px) / 3) !important;
} */

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}


.prevDay-chart-container {
  flex: 1; 
  box-sizing: border-box;
}

.chart-container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

/* Styling for Chart 1 */
#chart1 {
  width: 1200px; /* Chart 1 is twice as wide */
  height: 600px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

/* Sub-container for Chart 2 and Chart 3 */
.sub-container {
  width: 600px; /* Half the width of Chart 1 */
  height: 600px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; /* Arrange Chart 2 and Chart 3 vertically */
  margin-right: auto;
}

/* Styling for Chart 2 and Chart 3 */
.sub-chart {
  width: 100%; /* Take up the full width of the sub-container */
  display: flex;
  flex-direction: column; /* Vertically fit the canvas within the sub-container */
}

.chart-canvas1 {
  width: 100%; /* Make Chart 1 canvas take the full width of Chart 1 */
  height: 100%; /* Make Chart 1 canvas take the full height of Chart 1 */
}

.chart-canvas2, .chart-canvas3 {
  width: 100%; /* Make Chart 2 and Chart 3 canvases take the full width of Chart 2 and Chart 3 */
  flex: 1; /* Allow Chart 2 and Chart 3 to share the available vertical space equally */
}

#daily-button:hover, #mins-button:hover {
  background-color: #0056b3; 
}

#daily-button:active, #mins-button:active {
  background-color: #003e80; 
}
  
button {
  display: block;
  height: 40px; 
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px; 
  background-color: #009578; 
  color: #fff; 
  border: none; 
  cursor: pointer; 
  border-radius: 5px;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons {
  display: block;
  align-items: center;
  position: relative;
  justify-content: center;
}

select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  width: 200px;
  font-size: 18px;
}

h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media only screen and (max-width: 1810px) {
  .chart-container {
    display: block;
    position: relative;
    align-items: center;
    margin: 5px;
  }
  #chart1 {
    margin-left: auto;
    margin-right: auto;
  }
  .sub-chart {
    width: 1200px; /* Take up the full width of the sub-container */
    flex-direction: column; /* Vertically fit the canvas within the sub-container */
  }
  .sub-container {
    width: 1200px; /* Half the width of Chart 1 */
    height: 1200px; /* Half the width of Chart 1 */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; /* Arrange Chart 2 and Chart 3 vertically */
    margin-left: auto;
    margin-right: auto;
  }
}