/* Reset some default styles */
body, ul {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

html {
  background-color: white;
}

.content-container {
  display: flex;
  align-items: flex-start; 
}

.datetime {
  font-size: 10px;
  padding: 20px;
  color: #ffffff;
  background: #444444;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-right: 10px #009578 solid;
  width: 200px;
  margin-right: 10px;
}

.time {
  font-size: 2em;
  color: #00ffcc;
}

.date {
  margin-top: 12px;
  font-size: 1.5em;
}

.dataContainer {
  flex: 1;
  display: flex; 
}

.sensor-box {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  flex-basis: calc(17% - 3px); 
}


.navbar {
  background-color: #333;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-align: center; 
}

.navbar:hover {
  background-color: #444; 
}

.nav-links a.active {
  color: #00ffcc;
}


.container {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 10px 20px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-links a:hover {
  color: #00ffcc; 
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

.dataContainer {
  display: flex;
  margin-left:-5px;
  margin-right:-5px;
}

.realTime-chart-container {
  flex: 1; 
  padding: 5px;
  box-sizing: border-box;
}

.realTime-chart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.chart-container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  padding: 10px;
}

/* Styling for Chart 1 */
#chart1 {
  width: 1200px; /* Chart 1 is twice as wide */
  height: 600px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

/* Sub-container for Chart 2 and Chart 3 */
.sub-container {
  width: 600px; /* Half the width of Chart 1 */
  height: 600px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; /* Arrange Chart 2 and Chart 3 vertically */
}

/* Styling for Chart 2 and Chart 3 */
.sub-chart {
  width: 100%; /* Take up the full width of the sub-container */
  display: flex;
  flex-direction: column; /* Vertically fit the canvas within the sub-container */
}

.chart-canvas1 {
  width: 100%; /* Make Chart 1 canvas take the full width of Chart 1 */
  height: 100%; /* Make Chart 1 canvas take the full height of Chart 1 */
}

.chart-canvas2, .chart-canvas3 {
  width: 100%; /* Make Chart 2 and Chart 3 canvases take the full width of Chart 2 and Chart 3 */
  flex: 1; /* Allow Chart 2 and Chart 3 to share the available vertical space equally */
}