body {
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 20px); 
}


.leftContainer {
    flex: 0.3;  /* Allocate 30% of the width */
    overflow-y: auto;
    padding: 5px;
}

.rightContainer {
    flex: 0.7;  /* Allocate 70% of the width */
    overflow-y: auto;
    padding: 5px;
    box-sizing: border-box;
}


.leftContainer > *:first-child,
.rightContainer > *:first-child {
    margin-top: 5px;
}

.rightContainer {
    border-left: 2px solid #ccc; 
}

.chart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.realTime-chart-container,
.prevDay-chart-container {
    flex: 1; 
    border-right: 2px solid #ccc; 
    padding: 5px;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.realTime-chart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.prevDay-chart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

canvas {
    flex: 1;
    margin: 0 10px;
    height: 300px !important;
    width: calc((100% - 40px) / 3) !important;
}

#daily-button, #mins-button {
    width: 100px; 
    height: 40px; 
    font-size: 16px; 
    padding: 10px 20px; 
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
}

#daily-button:hover, #mins-button:hover {
    background-color: #0056b3; 
}

#daily-button:active, #mins-button:active {
    background-color: #003e80; 
}





