* {
  scroll-behavior: smooth;
}

body, ul {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

html {
  background-color: white;
}

.login-body {
  background-color: #444444;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  text-align: center;
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center;
}

.login-h1 {
  text-align: center;
  font-size: 95px;
  margin-bottom: 20px;
  font-weight: bolder;
  color: #00ffcc;
}
form {
  background-color: #00ffcc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 17px rgba(255, 255, 255, 0.5);
  width: 400px;
  margin-right: 5px;
}

label {
  display: block;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
  color: #444444;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 2px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Center the form horizontally */
form {
  margin: 0 auto;
}

.alert-danger {
  width: 400px;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: red;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

/* Style the unordered list within the error message */
#error-message {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style each individual error message item */
#error-message li {
  margin: 5px 0;
}

/* Style the text within the error message */
.alert-danger ul li {
  color: #721c24;
}

#daily-button:hover, #mins-button:hover, #transferButton:hover, #fetchPredictionsButton:hover, #downloadCSVButton:hover {
  background-color: #0056b3; 
}

#daily-button:active, #mins-button:active, #transferButton:active, #fetchPredictionsButton:active, #downloadCSVButton:active {
  background-color: #003e80; 
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

main {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 90%;
}

button {
  height: 40px; 
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px; 
  background-color: #009578; 
  color: #fff; 
  border: none; 
  cursor: pointer; 
  border-radius: 30px;
  margin: 10px;
}

.transferButton-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
}

#selected-date {
  display: none;
  height: 40px;
  width: 200px;
  font-size: 18px;
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.growth-pred-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: #333;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: 1.5em;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.navbar:hover {
  background-color: #444; 
}

.nav-links {
  list-style: none;
  display: flex; 
}

.nav-links li {
  margin-left: 2em;
  margin-right: 2em;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-links a.active {
  color: #00ffcc;
}

.nav-links a:hover {
  color: #00ffcc; 
}

#logout-button {
  float: right;
}


.content-container {
  display: flex;
  align-items: flex-start; 
}

.datetime {
  font-size: 0.6em;
  padding: 2em;
  color: #ffffff;
  background: #444444;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 1em;
  border-right: 1em #009578 solid;
  width: 20em;
  margin-right: 1em;
}

.date {
  margin-top: 1.5em;
  font-size: 1.5em;
}

.time {
  font-size: 2em;
  color: #00ffcc;
}

.plot-container {
  width: 1600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.progress-container {
  margin: 20px auto;
  background-color: #ccc;
  border-radius: 5px;
  max-width: 900px;
}
.progress-bar {
  height: 50px;
  background-color: #4CAF50; /* Green color for filled portion */
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  color: white;
}

#predictionDisplay {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sensor-box {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  width: 13em;
  height: 6em;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 10px 20px;
}

.dataContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.realTime-chart-container {
  flex: 1; 
  padding: 5px;
  box-sizing: border-box;
}

.prevDay-chart-container {
  flex: 1; 
  padding: 5px;
  box-sizing: border-box;
}

.realTime-chart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.chart-container {
  display: flex;
  position: relative;
  align-items: center;
  margin: 5px;
}

/* Styling for Chart 1 */
#chart1 {
  width: 1200px;
  height: 600px;
  display: flex;
  margin-left: auto;
  margin-right: none;
}

/* Styling for Chart 2 and Chart 3 */
.sub-chart {
  width: 600px; /* Take up the full width of the sub-container */
  flex-direction: column; /* Vertically fit the canvas within the sub-container */
}

/* Sub-container for Chart 2 and Chart 3 */
.sub-container {
  width: 600px; /* Half the width of Chart 1 */
  height: 600px;
  margin-bottom: 10px;
  flex-direction: column; /* Arrange Chart 2 and Chart 3 vertically */
  margin-right: auto;
  margin-left: none;
}

.chart-canvas1 {
  width: 100%;
  height: 100%;
}

.chart-canvas2, .chart-canvas3 {
  width: 100%; /* Make Chart 2 and Chart 3 canvases take the full width of Chart 2 and Chart 3 */
  flex: 1; /* Allow Chart 2 and Chart 3 to share the available vertical space equally */
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup-content {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

#ok-button {
  cursor: pointer;
}

.error-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

#error-ok-button {
  cursor: pointer;
}

@media only screen and (max-width: 1900px) {
  .chart-container {
    display: block;
    position: relative;
    align-items: center;
    margin: 5px;
  }
  #chart1 {
    margin-left: auto;
    margin-right: auto;
  }
  .sub-chart {
    width: 1200px;
    height: 600px;
    flex-direction: column;
  }
  .sub-container {
    width: 1200px;
    height: 1200px;
    margin-bottom: 10px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}