 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:opsz@6..12&family=Oswald:wght@300;700&display=swap" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-2.26.0.min.js" charset="utf-8"></script>
    <!-- <script src="https://unpkg.com/html2pdf.js"></script> -->
    <title>Lettuce Growth Forecasting</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <ul class="nav-links">
                <li><a href="/realtime">Dashboard</a></li>
                <li><a href="/historicaldata">Historical Data</a></li>
                <li><a href="/growthPred" class="active">Forecasting</a></li>
                <li><a href="/logout" class="internal-link">Logout</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div>
            <h2>Lettuce Growth Days Forecasting</h2>
            <div class="growth-pred-buttons">
                <button type="button" id="fetchPredictionsButton" onclick="getCurrentBatchNumberAndFetchPredictions()">Forecast</button>
                <button type="button" id="newBatchButton" style="display: none" onclick="newBatchClick()">New Batch</button>
            </div>
            <div id="popup" class="popup">
                <div class="popup-content">
                    <p id="success-message">New Batch Created Successfully!</p>
                    <button id="ok-button">OK</button>
                </div>
            </div>
            <h2>Prediction</h2>
            <p id="predictionDisplay">{{predictionDisplay}}</p>
        </div>
        <div class="progress-container">
            <div class="progress-bar" id="progress-bar">0%</div>
        </div>
        <!-- Calendar View -->
        <div id="calendar-view" class="plot-container"></div>
    </main>
    <script src="growthPred.js"></script>
    <script src="service-worker.js"></script>
</body>
</html>
