<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:opsz@6..12&family=Oswald:wght@300;700&display=swap" rel="stylesheet">
    <title>Historical Data</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <ul class="nav-links">
                <li><a href="/realtime" class="internal-link">Dashboard</a></li>
                <li><a href="/historicaldata" class="internal-link active">Historical Data</a></li>
                <li><a href="/growthPred" class="internal-link">Forecasting</a></li>
                <li><a href="/logout" class="internal-link">Logout</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <h1>Previous Sensor Data Visualization</h1>
        <div class="transferButton-div">
            <button type="button" id="transferButton">Transfer Data</button>
            <div class="loader" id="loadingIndicator"></div>
        </div>
        <div id="error-popup" class="popup">
            <div class="popup-content">
                <p id="error-message">Error during transfer</p>
                <button id="error-ok-button">OK</button>
            </div>
        </div>        
        <div class="buttons">
            <div class="mins-div">
                <button type="button" id="mins-button">5 mins</button>
                <select id="selected-date" name="selected-date"></select>
            </div>
            <button type="button" id="daily-button">Daily</button>
        </div>
        <div class="prevDay-chart-container">
            <div class="chart-container">
                <div id="chart1" onclick="switchChart(this)">
                    <canvas id="temp-hum-chart" class="chart-canvas1"></canvas>
                </div>
                <div class="sub-container">
                    <div id="chart2" class="sub-chart" onclick="switchChart(this)">
                        <canvas id="tds-chart" class="chart-canvas2"></canvas>
                    </div>
                    <div id="chart3" class="sub-chart" onclick="switchChart(this)">
                        <canvas id="ph-chart" class="chart-canvas3"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="historical.js"></script>
    <script src="service-worker.js"></script>
</body>
</html>
