<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrollable Page with Background Video</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <nav class="navbar">
            <div class="container">
                <ul class="nav-links">
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="/historicaldata">Historical Data</a></li>
                    <li><a href="/growthPred">Growth Prediction</a></li>
                    <li><a href="#">About/Help</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    
        <video autoplay loop muted plays-inline class="back-video">
            <source src="video.mp4" type="video/mp4">
        </video>

        <div class="content">
            <p>Real Time Monitoring System for Lettuce Plant Growth</p>
        </div>
    </div>  
</body>
</html>
