<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arduino Data Display</title>
</head>
<body>
    <h1>Welcome to homepage</h1>

    <h1>Lettuce Growth Days Prediction</h1>
   
    <h3>Upload a CSV File</h3>
    <form method="POST" enctype="multipart/form-data">
        <label for="csvFile">Select a CSV file:</label>
        <input type="file" name="csvFile" id="csvFile" accept=".csv">
        <br>
        <input type="submit" value="Upload">
    </form>

    <h2>
        The predictions are:
        <table>
            <tr>
                <th>Plant ID</th>
                <th>Predictions</th>
            </tr>
            {% if grouped_predictions %}
                {% for prediction in grouped_predictions %}
                    <tr>
                        <td>{{ prediction['Plant_ID'] }}</td>
                        <td>{{ prediction['Predictions'] }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">No predictions available</td>
                </tr>
            {% endif %}
        </table>
    </h2>
</body>
</html>
